@page

@model WebApplication.Pages.ContactModel
@{
    ViewData["Title"] = "About Page";
}

<h1>About</h1>

<p>
    This Web App Is Developed Using ASP.NET Core To Show How To  Add Razor Pages
    And Models To Web Projects.
</p>

<p>@DateTime.Now</p>